* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1400;
  margin: 0 auto;
}

.nav-bar {
  width: 100%;
  position: fixed;
  padding: 28px 28px 0 28px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #0E0E0C;
}

nav, ul {
  padding-top: 19px;
  display: flex;
  list-style-type: none;
}

nav, ul, li {
  padding-left: 54px;
}

nav a {
  font-family: jost;
  font-size: 30px;
  color: white;
}

.f-m {
  font-family: jost;
  font-size: 18px;
  color: white;
  background-color: #0E0E0C;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  justify-content: center;
  row-gap:24px;
  column-gap: 73px;
  padding-top: 53px;
  padding-bottom: 73px;
  padding-left: 28px;
  padding-right: 28px;
  align-content: space-between;
}

#hammenu-btn {
  padding-bottom: 5px;
  width: 60px;
  height: 40px;
  display: none;
}

#hammenu-btn-c {
  height: 40px;
  display: none;
}

@media (max-width: 811px) {

  nav img {
      width:140px;
    }
  #hammenu-btn {
      display: initial;
    }
    
  #hammenu-btn-c {
      padding-top: 10px;
      width: 30px;
      display: initial;
    }

    nav ul {
      position: absolute;
      top: 0;
      right: -300px;
      width: 300px;background-color: #5A5A5A;
      height: 320px;
      padding-top: 19px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      list-style-type: none;
      transition: 0.3s ease;
    }
    
    nav ul.active {
      right: 0;
    }

    nav ul li {
     padding-top: 30px;
    }

    .hero , h1 {
      color: white;
      font-family: jost;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding-bottom: 30px;
    }
    
    .con-about h2 {
      font-size: 20px;
      padding-bottom: 10px;
    }
    

}
